<div style="display: flex; gap: 40px;">
  <!-- Partie gauche : Clues -->
  <div style="flex: 1;" class="clue-panel">
    <h3>Indices</h3>
    <ol>
      <li *ngFor="let result of results ;"><span>{{result.position}} - </span>{{result.clue}}</li>
    </ol>
  </div>

  <!-- Partie droite : Grille -->
  <div class="grid-panel">
    <div 
        [style.gridTemplateColumns]="'repeat(' + grid[0].length + ', 30px)'"
        [style.gridTemplateRows]="'repeat(' + grid.length + ', 30px)'"
        class="crossword-grid">
      
      <ng-container *ngFor="let row of grid; let y = index">
        <ng-container *ngFor="let cell of row; let x = index">
          
          <div *ngIf="cell !== '-'" style="position: relative;">
            <input
            class="cell-square"
            maxlength="1"
            (keyup)="onKeyUp($event,resultByCoordonateXY(x,y))"
            />
            <span [ngClass]="{'isStartCellVertical': isStartCellVertical(x,y), 'isStartCellHorizental': isStartCellHorizental(x,y)}" *ngIf="isStartCellVertical(x,y) || isStartCellHorizental(x,y)">
              {{resultByCoordonateXY(x,y).position}}
            </span>
          </div>
          
          <div *ngIf="cell === '-'" class="empty-cell"></div>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>